[Unit]
Description=SL3 Servidor Eureka
After=network.target

[Service]
User=ubuntu
ExecStart=/usr/bin/java -jar /home/ubuntu/servidores/servidor-eureka/ServidorEureka.jar
Restart=always
SuccessExitStatus=143
TimeoutStopSec=10
RestartSec=5

[Install]
WantedBy=multi-user.target
